.title {
  &:before {
    content: "";
    display: block;
    width: 5px;
    height: 22px;
    background-color: #8774d3;
    border-radius: 1px;
    margin-right: 5px;
  }
}

.read-more {
  color: #979799;
  font-size: 14px;
}

.hot-title-div {
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 50px;
}

.fz-15px {
  font-size: 15px;
}