.chat {
  .nav-bar {
    text-align: center;
    background: linear-gradient(90deg, #8774d3, #ef42cd);
    line-height: 50px;
    font-size: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    position: sticky;
    width: 100%;
    top: 0;

    .nav-bar__left {
      text-align: center;
      line-height: 50px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      bottom: 0;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 16px;
      font-size: 14px;
      cursor: pointer;
      left: 0;

      i {
        text-align: center;
        user-select: none;
        cursor: pointer;
        position: relative;
        text-rendering: auto;
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        box-sizing: border-box;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }
    }

    .nav-bar__content {
      text-align: center;
      line-height: 50px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
      max-width: 600px;
      margin: 0 auto;
      color: #fff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .chat-screen {

    .chat-body {
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      font-size: 0.875rem;
      letter-spacing: 0.0312rem;
      font-family: 'Quicksand', sans-serif;
      color: #787878;
      visibility: visible;
      box-sizing: border-box;
      padding: 25px;
      display: inline-block;
      min-height: 100vh;
      background: #efefef;
      width: 100%;

      .chat-start {
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.0312rem;
        font-family: 'Quicksand', sans-serif;
        color: #787878;
        visibility: visible;
        box-sizing: border-box;
        border: 1px solid #f8d4ff;
        width: 150px;
        border-radius: 50px;
        padding: 6px 10px;
        font-size: 12px;
        text-align: center;
        margin: 0 auto 15px;
        background: #fff;
      }

      .chat-bubble {
        font-size: 12px;
        padding: 10px 15px;
        display: inline-block;
        clear: both;
        margin-bottom: 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
      }

      .chat-bubble.me {
        background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff);
        border-radius: 15px 0 15px 15px;
        color: #fff;
        float: right;
        align-self: flex-end;
        display: table;
      }

      .chat-bubble.you {
        background-image: linear-gradient(to right, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
        color: #888ea8;
        border-radius: 0 15px 15px 15px;
        align-self: flex-start;
        display: table;
      }
    }

    .chat-input {
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      font-size: 0.875rem;
      letter-spacing: 0.0312rem;
      font-family: 'Quicksand', sans-serif;
      color: #787878;
      visibility: visible;
      box-sizing: border-box;
      width: 100%;
      position: sticky;
      bottom: 0;

      input {
        visibility: visible;
        box-sizing: border-box;
        margin: 0 0 0 13px;
        font-family: inherit;
        line-height: inherit;
        overflow: visible;
        width: 86%;
        background: #ffffff;
        padding: 15px 70px 15px 15px;
        resize: none;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #f8f8f8;
        color: #7a7a7a;
        font-weight: normal;
        font-size: 13px;
        transition: border-color 0.5s ease;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      .input-action-icon {
        font-weight: 400;
        line-height: 1.5;
        font-size: 0.875rem;
        letter-spacing: 0.0312rem;
        color: #4CAF50;
        visibility: visible;
        box-sizing: border-box;
        width: 61px;
        white-space: nowrap;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);

        button {
          font-size: 16px;
          padding: 10px;
          border-radius: 5px;
          background-color: #4CAF50;
          color: white;
          border: none;
          margin-left: 24px;
          cursor: pointer;
        }
      }

    }
  }
}