.banner {
  background: linear-gradient(90deg, rgba(126, 86, 120, 0), #ef42cd, rgba(126, 86, 120, 0));
  padding-bottom: 15px;

  .banner-image__wrap {

    .banner-image {
      border-radius: 10px;
    }
  }
}

.w-80 {
  width: 80%;
}